<%= link_to 'New Category', new_admin_category_path, class: 'btn btn-info btn-sm' %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Products Count</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody >
    <% @categories.each do |category|%>
      <tr>
        <td>
          <%= category.name %>
        </td>
        <td>
          <%= category.products.count %>
        </td>
        <td class="btn-group text-right">
          <%= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Delete', admin_category_path(category), method: :delete, data: {confirm: "Are you sure?"} , 
          class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>